.container{
    margin-bottom: 70px;
}
.buy-now-button{
    background-color: black;
    color: white;
    font-size: small;
    border-radius: 10px;
    width: 130px;
    height: 50px;
}
.top-banner{
   background-image: url("hot-gadgets/bg-1.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: 50px;
}
.side-banner{
    background-image: url("hot-gadgets/bg-2.png");
    background-repeat: no-repeat;
    background-position: left;
    
}
.card{
    box-shadow: 5px 5px 10px lightgray;
    border: none;
   
}
.card-body{
    text-align: center;
}
.cat1{
    text-align: center;
    padding-bottom: 50px;
}
.pic-1{
    padding: 30px;
    box-shadow: 5px 5px 10px lightgrey;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
}

.pic-2{
    padding: 30px;
    box-shadow: 5px 5px 10px lightgrey;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
  
}
.pic-3{
    padding-top: 30px;
   text-align: center;
   border: none;
   box-shadow: 5px 5px 10px lightgrey;
   border-radius: 5px;
   height: 200px;
   margin-top: 100px;

}

